<ul>
  <li><a class="header-link" href="/">Home</a></li>
  <li><a class="header-link" href="/my-first-entry">最初の記事</a></li>
  <li><a class="header-link" href="/notfound">Notfound</a></li>
  <li><a class="header-link last-link" href="http://twitter.com/brunch">Twitter</a></li>
</ul>
